body {
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-left: 50px;
    padding-left: 20px;
    margin-right: 50px;
    padding-right: 20px;
}

header {
margin-bottom: 50px;
padding-bottom: 20px;
}

.headertitle {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 5vw; 
}   

.title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2vw;
    text-align: center;
}

.panel-icon {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 30px;
}

.city, .temperature, .humidity, .windspeed, .uvIndex {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
}
.panel-heading {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2vw;
}
